// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Title {
  padding: 50px;
  border: 2px #6495ed;
  font-family: 'Noto Sans', sans-serif;
  font-size: 200px;
  width: 100%;
  color: white;
}

body {
  background-color: #a8a8a8;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 1000px;
}